@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

 *{font-family: "Montserrat", sans-serif;
  background-color: rgb(250, 248, 248);
  margin: 0;
  padding: 0;
}
/*......navbar styling......*/
/*image */
.tere {
  width: 110px;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 32px;
  margin-left: 70px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header > div {
  display: none;
  align-items: center;
  gap: 46px;
  margin-right: 80px;
  margin-bottom: 32px;
  margin-top: 70px;
  background-color: white;
}
/*navbar button styling*/
.navbar-button {
  border-radius: 5.95px;
  font-size: 22px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #75bf7a;
  border: none;
  font-weight: 600px;
  color: white;
}
/*navbar links styling*/
a {
  text-decoration: none;
  color: black;
  font-size: 17.16px;
  font-weight: 500;
  background-color: white;
}
/*.......hero section styling......*/
.hero-section {
  display: flex;
}
/*image*/
.car {
  width: 400px;
  height: 525px;
  margin-right: 80px;
  margin-top: 54.83px;
  margin-bottom: 85.35px;
}
/*section 1 styling*/
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*heading*/
.section-1 h1 {
  font-weight: 800;
  font-size: 53px;
  margin-right: 103px;
  margin-left: 80px;
  margin-top: 113px;
  margin-bottom: 27px;
}
/*paragraph*/
.section-1 p {
  color: #9e9da2;
  font-size: 24px;
  font-weight: 500;
  margin-right: 110px;
  margin-bottom: 62px;
  margin-left: 80px;
}
/*images*/
.section-1 > div {
  display: flex;
  gap: 20px;
}
.download-1 {
  margin-bottom: 86.23px;
  margin-left: 70px;
  margin-right: 30px;
}
.download-2 {
  margin-bottom: 86px;
  margin-left: 30px;
  margin-right: 110px;
  width: 50%;
}
/*section 2 styling*/
.section-2 {
  display: flex;
}
/*....green section styling....*/
.green-section {
  background-color: #75bf7a;
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  height: 166px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
/*paragraph*/
.green-section p {
  font-size: 24.6px;
  font-weight: 600;
  color: #ffffff;
  background-color: #75bf7a;
}
/*input*/
.green-section input {
  font-size: 24px;
  padding: 20px;
  border-radius: 4.39px;
  border: none;
  width: 500px;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
}
.green-section input:focus {
  outline-color: #75bf7a;
}
/*div*/
.green-section div {
  display: flex;
  gap: 12px;
  background-color: #75bf7a;
}
/*button*/
.green-section button {
  font-weight: 800;
  font-size: 22px;
  border-radius: 4.39px;
  width: 260px;
  background-color: black;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
}
/*.....section heading styling.....*/
.section-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 800;
}
/*span*/
.section-heading span {
  color: #75bf7a;
}
/*paragraph*/
.section-para {
  font-weight: 500;
  font-size: 23px;
  color: #9e9da2;
  width: 50%;
  text-align: center;
}
.text-wala-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/*circle styling*/
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 999px;
  background-color: #75bf7a;
}
/*mobile section styling....*/
.mobile-section {
  display: flex;
  height: 90vh;
}
/*one*/
.mobile-section-one {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}
/*two*/
.mobile-section-two {
  display: flex;
  width: 33%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
/*three*/
.mobile-section-three {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}
/*image*/
.circle > img {
  width: 240.9px;
}
/*....option styling.....*/
.option {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
/*image*/
.option > img {
  width: 60px;
}
/*paragraph*/
.option > p {
  font-weight: 500;
  font-size: 20px;
  color: #9e9da2;
}
/*heading*/
.option > h3 {
  font-weight: 800;
  font-size: 22px;
}
/*right*/
.option-right {
  align-items: end;
  text-align: right;
}
/*Benefit part styling .....*/
.all-benefits {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 150px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.benefit {
  border: none;
  width: 1060px;
  height: 304px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  align-self: flex-end;
}
.right-benefit {
  display: flex;
  align-self: flex-start;
  flex-direction: row-reverse;
}

.benefit span {
  font-size: 88px;
  color: #75bf7a;
}

.benefit h4 {
  font-size: 33.94px;
  font-weight: 600;
  width: 260px;
}

.benefit p {
  font-size: 22px;
  width: 420px;
  color: #9e9da2;
}

.heading {
  display: flex;
  align-items: center;
  gap: 23px;
}
.heading span {
  color: #75bf7a;
}
.end {
  height: 553px;
  background-color: #ffffff;
}

footer {
  height: 309px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ececec;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: white;
}

.contact-us h5 {
  font-size: 22px;
  color: #272042;
  background-color: white;
}

.contact-us a {
  font-size: 18px;
  font-weight: 400;
  color: #9e9da2;
  background-color: white;
}

.footer-buttons {
  display: flex;
  gap: 41.6px;
}
.end > p {
  margin-top: 38px;
  text-align: center;
  color: #75bf7a;
  background-color: white;
}
.logo {
  background-color: white;
}
.my-icon{
font-size: 25px;
}
@media (min-widht: 1000px) {
.my-icon{
display: none;
}


.header > div {
display: flex;
}

}







}