@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(238, 236, 236);
  margin: 0;
}
/*......navbar styling......*/
/*image */
.tere {
  width: 180px;
  background-color: white;
  margin-top: 85px;
  margin-bottom: 38px;
  margin-left: 80px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-right: 80px;
  margin-bottom: 37px;
  margin-top: 87px;
  background-color: white;
}
/*navbar button styling*/
.navbar-button {
  border-radius: 5.95px;
  font-size: 22px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #75bf7a;
  border: none;
  font-weight: 600px;
  color: white;
}
/*navbar links styling*/
a {
  text-decoration: none;
  color: black;
  font-size: 17.16px;
  font-weight: 500;
  background-color: white;
}
/*.......hero section styling......*/
.hero-section {
  display: flex;
}
/*image*/
.car {
  width: 583px;
  height: 692.81px;
  margin-right: 147px;
  margin-top: 54.83px;
  margin-bottom: 85.35px;
}
/*section 1 styling*/
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 46.8px;
}
/*heading*/
.section-1 h1 {
  margin-right: 103px;
  margin-left: 80px;
  margin-top: 163px;
  margin-bottom: 27px;
}
/*paragraph*/
.section-1 p {
  color: #9e9da2;
  font-size: 24px;
  font-weight: 500;
  margin-right: 110px;
  margin-bottom: 62px;
  margin-left: 80px;
}
/*images*/
.section-1 > div {
  display: flex;
  gap: 20px;
}
/*section 2 styling*/
.section-2 {
  display: flex;
}
